version: '3.3'
services:
  spp-platform:
    image: sourceplusplus/spp-platform:latest
    container_name: spp-platform
    hostname: spp-platform
    ports:
      - "11800:11800"
      - "12800:12800"
      - "5106:5106"
    environment:
      - JAVA_OPTS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5106
      - SPP_LOGGING_LEVEL=trace
